<div class="dialog-container">

  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<h1 mat-dialog-title>Edit User</h1>
<div mat-dialog-content>
     <div> 
         <mat-form-field  class="mr-16" appearance="outline">
        <mat-label>First name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Ex. John">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Last name</mat-label>
        <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Ex. Travolta">
     </mat-form-field>
    </div>
     <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="ex. Example@email.com">
     </mat-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="loading" (click)="dialogRef.close()" mat-button>Cancel</button>
    <button [disabled]="loading"  mat-button cdkFocusInitial (click)="saveUser()">Save</button>
  </div>
</div>
