
<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
   <div class="logo-container">
     <img [routerLink]="['/']" class="logo" src="./../assets/img/logo.png">
   </div>
   <ul class="menu-items">
     <li [routerLink]="['/dashboard']">
      <mat-icon >fact_check</mat-icon> Dashboard
     </li>
     <li [routerLink]="['/user']"><mat-icon >perm_identity</mat-icon>User</li>
   </ul>
  </mat-drawer>

  <div>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div>
            <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <span id="app-title">Simple CRM</span>
        </div>
      
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router-container">
 <router-outlet></router-outlet>
    </div>
 

  </div>

</mat-drawer-container>